<div class="modal fade" id="firstTimeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome to your Athena!</h4>
            </div>
            <div class="modal-body">
                Take some time to check out the <a href="https://www.concepts3d.ca/support" target="_blank" translate>manual</a>. The UI is currently in beta
                and will be continuously improved.

                <br/>
                <br/>
                Questions? Come chat with us on <a href="https://discord.gg/55wshXG7pp">Discord</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">I understand</button>
            </div>
        </div>
    </div>
</div>